spring:
  application:
    name: users
  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8081
services:
  auth:
    url: ${AUTH_SERVICE_URL:http://localhost:8085}